body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 45, 0 , 0.10);
    
}

h1 {
    font-size: 45px;
    margin-bottom: -10px;
}

button {
    margin: 10px auto;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    border-radius: 10%;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    border: 2px solid;
}

button:focus {
    outline: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.grid-container {
    border: 3px black solid;
    height: 650px;
    width: 650px;
    margin: 0 auto;
    display: grid;
}

.grid-box {
    border: 1px solid gray;
    background-color: white;
}

.grid-box-black {
    border: 1px solid black;
    background-color: white;
}

.grid-box-erase {
    border: 1px solid black;
    background-color: white;
}